@import "tailwindcss";

@theme {
  --color-border: hsl(12 6.5% 15.1%);
  --color-input: hsl(12 6.5% 15.1%);
  --color-ring: hsl(20.5 90.2% 48.2%);
  --color-background: hsl(20 14.3% 4.1%);
  --color-foreground: hsl(60 9.1% 97.8%);

  --color-primary: hsl(20.5 90.2% 48.2%);
  --color-primary-foreground: hsl(60 9.1% 97.8%);

  --color-secondary: hsl(12 6.5% 15.1%);
  --color-secondary-foreground: hsl(60 9.1% 97.8%);

  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(60 9.1% 97.8%);

  --color-muted: hsl(12 6.5% 15.1%);
  --color-muted-foreground: hsl(24 5.4% 63.9%);

  --color-accent: hsl(12 6.5% 15.1%);
  --color-accent-foreground: hsl(60 9.1% 97.8%);

  --color-popover: hsl(20 14.3% 4.1%);
  --color-popover-foreground: hsl(60 9.1% 97.8%);

  --color-card: hsl(24 9.8% 10%);
  --color-card-foreground: hsl(60 9.1% 97.8%);
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/* Base Styles */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}